/* Maria Jose Midence */
/* General Layout */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Helvetica Rounded", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    overflow-y: auto;
    width: 100%;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5%;
}

.calendar-container {
    overflow-y: auto;
    margin-top: 20px;
}

.data-container {
    height:40%;
}

.days-header {
    margin-bottom: 30px;
}

.days-header span {
    border: 1px solid black;
    padding: 5px;
}

.data-content {
    background-color: #FFF;
    display: -webkit-box;
}

form {
    display: grid;
}

.general-container {
    display: grid;
    margin: 0px auto;
    width: 90%;
}

h1 {
    margin: 15px;
}

html {
    height: 100%;
    text-align: center;
}

.holiday {
    background-color: #ff8b1f;
}

.input-data {
    background-color: #1091cc;
    color: white;
    padding: 15px;
}

.input-data label{
    padding-top: 1%;
}

.input-data input{
    margin-bottom: 10px;
    width: 100%;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 8px 0;
    padding: 5px 10px;
    width: 100%;
}

input[type=button]{
    background-color: #FFF;
    border: 2px solid #000;
    border-radius: 10px;
    color: #1091cc;
    font-weight: 900;
    line-height: 25px;
    margin: 2% 0;
    width: 100%;
} 

input[type=date]{
    height: 65%;
} 

input[type=number], input[type=text]{
    height: 70%;
} 

.invalid-date {
    background-color: #d4c2ff;
}

.month-container {
    width: 300px;
    margin-bottom: 10px;
    padding: 2%; 
}

.month-container .days .day-title {
    background-color: white;
    border: none;
    font-weight: 600;
    line-height: 25px;
}

.month-container td {
    border: 1px solid white;
    line-height: 25px;
    min-width: 35px;
}

.month-title {
    background-color: beige;
    color: black;
}

.warning {
    color: red;
    padding: 1%;
}

.weekend {
    background-color: #ffdb26;
}

.weekday {    
    color: black;
    background-color: #44b816;
    padding: 2px;
}